name: Test team-rotation

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  unitTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: npm ci
      - run: npm run ci
  integrationTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: npm ci
      - run: npm run build
      - uses: ./
        id: result
        with:
          last: lee-dohm
          include: lee-dohm octocat
      - run: exit 1
        name: "Fail unless steps.result.outputs.next == 'octocat'"
        if: steps.result.outputs.next != 'octocat'
